<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ meta.title }} - {{ config.site_title }}</title>
    <link rel="stylesheet" href="{{ theme_url }}/css/style.css">
    <link rel="icon" type="image/png" href="{{ base_url }}/assets/img/leaf_256x256.png">
</head>

{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
